<footer class="main-footer">
  <div class="container footer">


      <div class="pull-right hidden-xs">
        Made with <span class="glyphicon glyphicon-heart"></span> in PR
      </div>

      <div class="footer">
      <%= link_to image_tag('Logo32x32.png', class: "footer_logo"), root_path  %>
      Copyright © 2018 All rights reserved.
    </div>

  </div>

</footer>
