<footer class="main-footer">
  <div class="container">


      <div class="pull-right hidden-xs">
        Made with <span class="glyphicon glyphicon-heart"></span> in Atl
      </div>

      <div class="footer">
      <%= link_to image_tag('Logo32x32.png'), root_path, class: "main-footer footer_logo" %>
      Copyright © 2018 All rights reserved.
    </div>

  </div>

</footer>
