<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Made with <span class="glyphicon glyphicon-heart"></span> in Atl
  </div>
  <strong>
    Copyright © 2018
    <a href="#"> Houseclip</a>
  </strong>
  All rights reserved.
</footer>
